@charset "utf-8";
* {
    box-sizing: border-box;
}

/**********************************
* 共通
**********************************/
.title {
    font-size: 50px;
}
.br-sp {
    display: none;
}
.logo {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px grey;
    letter-spacing: 0.05em;
}
.scroll-button {
    position: fixed;
    right: 20px;
    bottom: 60px;
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #9ddedf;
    text-align: center;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
}
.scroll-button-arrow {
    display: inline-block;
    border-top: 1px solid #39c6bf;
    border-right: 8px solid transparent;
    border-bottom: 14px solid #39c6bf;
    border-left: 8px solid transparent;
    padding-top: 3px;
    transform: translateY(10px);
}
.active {
    opacity: 1;
    visibility: visible;
}
/**********************************
* main
**********************************/
.main {
    height: 1000px;
}
/**********************************
* footer
**********************************/
.footer-menu__inner {
    padding: 50px 10px;
    background-color: #DAF8FF;
}
.footer-menu-down__inner {
    padding: 0 10px;
    background-color: #BFEFF8;
}
.footer-menu-content__inner,
.footer-menu-content-down__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1040px;
    margin: 0 auto;
}
.footer-menu__item {
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
}
.footer-menu__list-r .footer-menu__item {
    margin-bottom: 10px;
}
.footer-menu__list-r .footer-menu__item:last-of-type {
    margin-bottom: 0;
}
.footer-menu__list-l .footer-menu__item {
    margin-bottom: 5px;
}
.footer-menu__item-sub {
    font-size: 12px;
    text-indent: 20px;
    margin-bottom: 5px;
}
.footer__icon {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #2995B4;
    transform: translateY(2px);
}
.footer-menu__item-sub .footer__icon {
    width: 6px;
    height: 6px;
    transform: translateY(-2px);
}
.footer__icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(calc(-50% + 1px),-50%);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;  
    border-left: 6px solid #fff;
}
.footer-menu-content-down__inner {
    font-size: 12px;
    padding: 15px 0;
}
.footer-menu-down__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
}
.footer-menu-down__item {
    padding: 0 14px;
    padding-left: 0;
    margin-top: 15px;
    margin-right: 14px;
    border-right: 1px solid rgb(171, 168, 168);
}
.footer-menu-down__item:first-of-type {
    padding-left: 0;
}
.footer-menu-down__item:last-of-type {
    border-right: none;
}
.footer-menu__item-sub .footer__icon{
    background-color: transparent;
}
.footer-menu__item-sub .footer__icon::before {
    border-left-color: #2995B4;
}
/* CTA */
.footer-menu__cta {
    width: 250px;
}
.button {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center; 
    font-weight: bold;
    color: #fff;
    background: linear-gradient(#39c6bf,#43AC96);
    transition: all 0.3s ease;
}
.button:hover {
    opacity: 0.7;
}
.button:nth-of-type(2),
.button:nth-of-type(3) {
    width: calc((100% - 10px) / 2);
    height: 40px;
    font-size: 13px;
    line-height: 40px;
    margin-top: 10px;
    color: #111;
    background: #fff;
}
.button:nth-of-type(2) {
    margin-right: 10px;
}
.footer-menu__cta .button:not(:first-of-type) {
    color: #29B6AE;    
}
.arrow-right {
    position: absolute;
    top: 50%;
    right: 18px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #111;
    background-color: #fff;
    transform: translateY(-50%);
    transition: right 0.3s ease;
}
.arrow-right::before {
    position: absolute;
    top: 2px;
    left: 5px;
}
.fa-envelope,
.fa-download {
    margin-right: 10px;
    color: #29B6AE;
    transform: translateY(2px);
}
.fa-envelope::before,
.fa-download::before {
    font-size: 1.2rem;
}
.fa-arrow-up-right-from-square {
    margin-left: 5px;
}
.footer-menu__cta .footer__icon {
    position: absolute;
    right:2%;
    top: 50%;
    background-color: #fff;
    transform: translateY(-50%);
}
.footer-menu__cta .footer__icon::before {
    border-left-color: #43AC96;
}
@media screen and (max-width:900px) {
    .footer-menu-content-down__inner {
        display: block;
        padding: 40px 0;
    }
    .footer-menu-down__list {
        flex-wrap: wrap;
        margin-top: -15px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:767px) {
    .br-sp {
        display: block;
    }
    .logo {
        text-align: center;
    }
    .button {
        width: 40%;
        height: 58px;
        line-height: 1.2;
        padding: 10px 0;
    }
    .button:nth-of-type(2),
    .button:nth-of-type(3) {
        width: 26%;
        height: 58px;
        line-height: 2.5;
        margin-top: 0;
        margin-right: 0;
    }
    
    .footer-menu__inner {
        padding: 0
    }
    .footer-menu-content__inner {
        flex-direction: column;
        padding-top: 30px;
    }
    .footer-menu__cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 30px 10px;
        order: 2;
    }
    .footer__logo {
        order: 1;
    }
    .footer-menu__list-l {
        order: 3;
        font-size: 0;
    }
    .footer-menu__list-r {
        order: 4;
    }
    .footer-menu__item {
        position: relative;
        border-bottom: 1px solid #29B6AE;
        margin-bottom: 0;
        padding: 10px 0;
        padding-left: 10px;
    }
    .footer-menu__list-r .footer-menu__item:hover{
        opacity: 0.5;
    }
    .footer-menu__item a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .footer-menu__list-r  .footer-menu__item, .footer-menu__list-l .footer-menu__item{
        margin-bottom: 0;
    }
    .footer-menu__list-l .footer-menu__item {
        border-top: 1px solid #29B6AE;
    }
    .footer-menu__item-sub {
        position: relative;
        display: inline-block;
        width: calc((100% - 1px) / 2);
        height: 49px;
        line-height: 49px;
        text-indent: 14px;
        border-bottom: 1px solid #29B6AE;
        margin-bottom: 0;
        vertical-align: bottom;
    }
    .footer-menu__item-sub a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .footer-menu__item-sub:hover {
        opacity: 0.5;
    }
    .footer-menu__item-sub:nth-of-type(odd) {
        border-right: 1px solid #29B6AE;
    }
    .footer-menu__item-sub .footer__icon {
        margin-right: 11px;
    }
    .fa-envelope, .fa-download {
        display: block;
        margin-right: 0;
    }
    .footer-menu-down__item:hover {
        opacity: 0.7;
    }
}
@media screen and (max-width:600px) {
    .footer-menu__cta {
        max-width: 100%;
    }
}

